<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Aquarium</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <script language="javascript">
        var pageType = "overview";
        var parsedStrings = (document.location.search).match(/(activation=\d*)/);
        console.log(parsedStrings[1]);
        document.cookie =parsedStrings[1] + "; path=/";
    </script>
</head>
<body>

<div id="react_control"></div>

<script src="built/bundle.js"></script>

</body>
</html>